@media all and (min-width: 480px) {
  .Login {
    padding: 100px 0;
    text-align: center;
    text-decoration: underline;
    background-color: #282c34;
  }

  .Login form {
    background-color: rgb(243, 104, 49);
    width: 300px;
    border: 15px solid rgb(0, 0, 0);
    padding: 50px;
    margin: 0 auto;
    max-width: 320px;
    outline-style: double;
    font-family: 'Courier New';
  }
}
